@page{
  size: letter portrait;
  margin: 0;
}

*{
  box-sizing: border-box;
}

:root {
  --page-width: 8.5in;
  --page-height: 11in;
  --main-width: 6.1in;
  --margin-top: 0.25in;

  --sidebar-width: calc(var(--page-width) - var(--main-width));
 
  --sidebar-background-color: rgb(255, 255, 255);
  
  --decorator-border: 1px solid rgb(136, 189, 188);

  --sidebar-horizontal-padding: 0.2in;



  --row-blocks-padding-top: 5pt;
 
  --viewer-background-color: #dcdcdc;
  --viewer-shadow-color: #313131;

}

element.style {
  column-width: 816px;
  padding-top: 50px;
}

[data-id="main"] {
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding: 0.3in 0.1in 0 0.1in;
  font-size: 0.8rem;
  float: left;
}

h1 {
  text-transform: capitalize;
  color: rgb(17, 45, 50);
  font-weight: 600;
}

.aside h2 {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(17, 45, 50);
}

.aside {
  background-color: rgb(136, 189, 188);
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 15px;
  font-size: 0.8rem;
  float: left;
  float: left;
}

[data-id="disclaimer"] {
  position: absolute;
  bottom: 0;
  right: var(--sidebar-horizontal-padding);
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1;
  color: #777;
  padding-left: 15px;
  margin-right: -15px;
  text-align: left;
}

a {
  color: rgb(37, 78, 88);

}

.aside .level2 {
  margin-top: 0.3in;
}

.main-block.concise .details div:not(.concise) {
  padding: 0;
}
